.section {
  position: relative;
  padding-bottom: 20px;
  min-width: 775px;
}

.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
}

.arrows button {
  width: 140px;
  height: 35px;
  padding: 10px 12px;
  background: #2d3748;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.h1 {
  width: 455px;
  height: 18px;
  left: 272px;
  top: 190px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #805AD5;
}

.purpleLink {
  font-weight: bold;
  color: #553c9a !important;
  text-decoration: underline;
  background-color: transparent;
  border-width: 0ch;
}

.nav ul {
  display: flex;
}

.nav li {
  list-style-type: none;
  padding: 15px;
}

.deliverables {
  padding-bottom: 30px;
}
