.PopupModal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.48);
    z-index: 9;
}

.PopupContainer{
    padding: 30px;
    border-radius: 15px;
    /* background: linear-gradient(to bottom, #000000, #090909); */
    background: #fff;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    z-index: 100 !important;
    color: #000;
}

.ExploreContainer{
    padding: 30px;
    border-radius: 15px;
    /* background: linear-gradient(to bottom, #000000, #090909); */
    background: #fff;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    z-index: 100 !important;
}

.ModalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ModalHeader span{
    cursor: pointer;
}

.ModalImg{
    width: 400px !important;
    height: 300px !important;
    border-radius: 15px;
}

.ModalImgSm{
    width: 400px !important;
    height: 200px !important;
    border-radius: 15px;
}

.account{
    color: gray;
}



.ModalHeading{
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: #000;
}

.ModalText{
    text-align: center;
    color: #000;
    
    /* margin-bottom: 5px; */
}
.ModalText a{
    text-align: center;
    color: blue;
    /* margin-bottom: 5px; */
}

.ModalBtn{
    background: linear-gradient(45deg, #3182ce, #97266d);
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.divider{
    height: 1px;
    width: 100%;
    background-color: rgb(216, 216, 216);
}

.ModalLink{
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}