.cardContainer{
    background: #000;
    border-radius: 28px;
    padding: 30px;
    max-width: 460px;
    margin-bottom: 30px;
    opacity: 0.7;
}

.cardHeading{
    font-family: "OpenSauceOne-Bold";
    color: rgba(255, 255, 255, 0.92);
    font-size: 24px;
    font-weight: bold;
}

.headingSecondary{
    font-family: 'Inter', sans-serif;
    font-weight: 100;

}

.cardText{
    color: rgba(255, 255, 255, 0.64);
    margin: 15px 0;
    font-size: 12px;

}

.cardTextLarge{
    color: rgba(255, 255, 255, 0.64);
    margin: 15px 0;
    font-size: 14px;

}

.cardTextItalic{
    font-style: italic;
    color: rgba(255, 255, 255, 0.64);
    margin: 15px 0;
    font-size: 14px;
}

.learnButton{
    font-family: "OpenSauceOne-Bold";
    background: #718096;
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
}